.ngb-carousel  {
    height: 90vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.card-text{
color: black;

}
.card-title{
    color: white;
    font-size: 80px;

}