<div class="wrapper" >
  <div class="multi_color_border"></div>
  <div class="top_nav">
    <div class="left">
      <div class="logo">
        <p><a href="#"><span>Eleyele</span>Waterfront</a></p>
      </div>
    </div>
    
    <div class="right">
      <ul>
        <li><a href="#">Whats New</a></li>
        <li><a href="#">Upcoming Event</a></li>
        <li><a href="home/contact">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom_nav">
    <ul>
      <li><a href="home/relax">Relax</a></li>
      <li><a href="home/play">Play</a></li>
      <li><a href="home/live">Live</a></li>
      <li><a href="home/work">Work</a></li>
      <li><a href="home/invest">Invest</a></li>
    </ul>
  </div>

</div>
