<ngb-carousel #carousel [interval]="2500">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <a
      href="https://www.google.fr/?q=Number+{{ i + 1 }}"
      target="_blank"
      rel=""
    >
      <div class="carousel-caption">
        <h1 style="font-size: 100px; color: white">
          {{ text[i] }}
        </h1>
      </div>

      <div class="picsum-img-wrapper">
        <img
          style="width: 100%; height: 80vh"
          [src]="img"
          alt="My image {{ i + 1 }} description"
        />
        <!--width:1500px; height: 500px0 -->
      </div>
    </a>
  </ng-template>
</ngb-carousel>

<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-6 portfolio-item">
      <div class="card h-100">
        <a routerLink="relax"
          ><img
            class="card-img-top"
            [src]="'assets/home/relaxation.jpg'"
            alt="image"
          />

          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h4 class="card-title">Relax</h4>
            <div class="card-footer">
              <div class="card-ft-txt">Healthcare and wellness</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 portfolio-item">
      <div class="card h-100">
        <a routerLink="play"
          ><img class="card-img-top" [src]="'assets/home/play.jpg'" alt="" />

          <div
            class="card-img-overlay d-flex flex-column justify-content-end h-100"
          >
            <h4 class="card-title">Play</h4>
            <div class="card-footer">
              <div class="card-ft-txt">Explore the different attractions</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 portfolio-item">
          <div class="card h-100">
            <a routerLink="live"
              ><img
                class="card-img-top"
                [src]="'assets/home/live.jpg'"
                alt=""
              />

              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <h4 class="card-title">Live</h4>
                <div class="card-footer">
                  <div class="card-ft-txt">Housing and living</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 portfolio-item">
          <div class="card h-100">
            <a routerLink="work"
              ><img
                class="card-img-top"
                [src]="'assets/home/work.jpg'"
                alt=""
              />

              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <h4 class="card-title">Work</h4>
                <div class="card-footer">
                  <div class="card-ft-txt">Businesses and Employment</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 portfolio-item">
          <div class="card h-100">
            <a routerLink="invest"
              ><img
                class="card-img-top"
                [src]="'assets/home/invest.jpg'"
                alt=""
              />

              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <h2 class="card-title">Invest</h2>
                <div class="card-footer align-self-end">
                  <div class="card-ft-txt">Be a part of this</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 style="text-align: center; color: #064273">News</h2>
  <div class="row">
    <div class="col">
      <div class="card h-100 text-center border-0">
        <img class="card-img-top" src="http://placehold.it/500x400" alt="" />
        <div class="card-body">
          <h4 class="card-news-title">News</h4>
          <p class="card-news-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            aut mollitia eum ipsum fugiat odio officiis odit.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100 text-center border-0">
        <img class="card-img-top" src="http://placehold.it/500x400" alt="" />
        <div class="card-body">
          <h4 class="card-news-title">News</h4>
          <p class="card-news-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            aut mollitia eum ipsum fugiat odio officiis odit.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100 text-center border-0">
        <img class="card-img-top" src="http://placehold.it/500x400" alt="" />
        <div class="card-body">
          <h4 class="card-news-title">News</h4>
          <p class="card-news-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            aut mollitia eum ipsum fugiat odio officiis odit.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100 text-center border-0">
        <img class="card-img-top" src="http://placehold.it/500x400" alt="" />
        <div class="card-body">
          <h4 class="card-news-title">News</h4>
          <p class="card-news-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            aut mollitia eum ipsum fugiat odio officiis odit.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card h-100 text-center border-0">
        <img class="card-img-top" src="http://placehold.it/500x400" alt="" />
        <div class="card-body">
          <h4 class="card-news-title">News</h4>
          <p class="card-news-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
            aut mollitia eum ipsum fugiat odio officiis odit.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div> -->
  </div>
</div>
