/* You can add global styles to this file, and also import other style files */
/* .card-text{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    text-align:left;
    display: block;
    
    
    } */

.card-title {
  color: white;
  font-family: "visuelt-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
}

.carousel-header {
  color: #064273;
  margin-left: auto;
  margin-right: auto;
  line-height: 140%;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  font-size: 100px;
}

.header {
  color: #064273;
  font-size: 55px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
